$primaryColor       :#304FFE;
$darkColor          :#263238;
$green              :#18CC55;
$red                :#EB5757;

:export {
    primaryColor: $primaryColor;
    darkColor: $darkColor;
    green: $green;
    red: $red;
}